@model KurumsalMVC.Models.Entitiy.Kullanicilar
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/AdminMasterPage.cshtml";
}

<h2>Profil</h2>

@if (ViewBag.Success != null)
{
    <script> swal("İşlem Başarılı!", "Kayıt Eklendi", "success"); @*swal({icon: "success",title: "Kayıt Başarılı",})}*@ </script>}
@if (ViewBag.Error != null)
{
    <script>swal("HATA!", "İşlem Sırasında Bir Hata Oluştu", "error");</script>}


<br />

@using (Html.BeginForm("KullaniciGuncelle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    <div style="display:none">
        @Html.LabelFor(x => x.KullaniciID, "Kategori ID")
        @Html.TextBoxFor(x => x.KullaniciID, new { @class = "form-control" })
    </div>

    @Html.LabelFor(x => x.Ad, "İsim")
    @Html.TextAreaFor(x => x.Ad, new { required = "required", @class = "form-control", id = "baslikseo" })

    <br />
    <label>Soyisim</label>
    @Html.TextAreaFor(x => x.Soyad, new { required = "required", @class = "form-control" })
    <br />
    <label>E-Posta</label>
    @Html.TextAreaFor(x => x.Eposta, new { required = "required", @class = "form-control" })
    <br />

    <label>Şifre</label>

    @Html.TextBoxFor(x => x.sifre, new { @Placeholder = "Yeni Şifre Girin", @Value = "", @class = "form-control" })
    <br />






    <br />
    <div class="social-box">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-xs-12 text-center">
                    <div class="box">
                        <label for="photo">Resmi Değiştir:</label><br />
                        <input type="file" onchange="ResimGoster(this)" name="BlogImage" id="BlogImage" />

                        <img id="etResim" height="300" />




                    </div>
                </div>

                <div class="col-lg-5 col-xs-12  text-center">
                    <div class="box">

                        <label>Kayıtlı Resim</label><br />
                        <img id="KayitliResim" style="margin-top:5px" src="@Model.foto" height="300" />

                    </div>
                </div>









            </div>
        </div>
    </div>





    <br />
    <button class="btn btn-success" style="width:100%" id="ekle">Güncelle</button>
}


<script type="text/javascript">
    function ResimGoster(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#etResim').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>


