@using KurumsalMVC.Models.Entitiy
@model List<Projeler>


@{
    ViewBag.Title = "ProjeDetay";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

    <script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox();
    });
    </script>
@foreach (var t in Model)
{
    <title>@t.Baslik</title>
}

@foreach (var x in Model)
{

    <div class="single-projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="img-box">
                        <a class="fancybox" rel="group" href="~/uploads/projeler/@x.Resim"><img src="~/uploads/projeler/@x.Resim" alt="" /></a>


                        @*<img src="~/uploads/projeler/@x.Resim" style="width:100%" alt="">*@
                    </div>
                    <br>
                    <span>Tarih : </span>@x.Tarih.Value.ToString("dd/MM/yyyy")
                    <span>Kategori : </span>@x.ProjeKategoriler.KategoriAd

                    <br>
                    <br>
                    <div class="inner-title">
                        <h3>@x.Baslik</h3>
                    </div>
                    <div class="text" style="color:black">
                        <p>@MvcHtmlString.Create(x.Yazi.ToString())</p>

                    </div><br>
                    @*<section class="rev_slider_wrapper">
                            <div id="slider1" class="rev_slider" data-version="5.0">
                                <ul>
                                    @foreach (var slider in Model.pres)
                                    {

                                        <li data-transition="slotzoom-horizontal">
                                            <img src="@slider.ResimURL" alt="" width="300" height="300" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">


                                        </li>
                                    }

                                </ul>
                            </div>
                        </section>*@

                    <section class="rev_slider_wrapper">
                        <div id="slider1" class="rev_slider" data-version="5.0">
                            <ul>
                                @{
                                    KurumsalMVCEntities db = new KurumsalMVCEntities();
                                    foreach (var item in db.ProjeResimler.Where(m => m.ProjeID == x.ProjeID).ToList())
                                    {
                                        <li data-transition="slotzoom-horizontal">
                                            <a class="fancybox" rel="group" href="~/uploads/projeler/galeri/@item.ResimURL"><img src="~/uploads/projeler/galeri/@item.ResimURL" alt="" /></a>
                                            @*<img src="~/uploads/projeler/galeri/@item.ResimURL">*@


                                        </li>}
                                }


                            </ul>
                        </div>
                    </section>


                    <div class="share-box clearfix">

                        <div class="social-box pull-right">
                            <span>Paylaş <i class="fa fa-share"></i></span>
                            <ul class="list-inline social">
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=@HttpContext.Current.Request.Url.AbsoluteUri.ToString()"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/share?url=@HttpContext.Current.Request.Url.AbsoluteUri.ToString()"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://web.whatsapp.com/send?text=@HttpContext.Current.Request.Url.AbsoluteUri"><i class="fa fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="blog-sidebar">
                         @Html.Action("aramabirimi", "Ara") <!-- End of .sidebar_styleOne -->



                        @Html.Action("Kategoriler", "Blog")



                    </div> <!-- End of .wrapper -->
                </div>
            </div>
        </div>
    </div>
}

